# General
requests

pycountry
pandas
numpy
plotly

# UI
streamlit
fastapi
uvicorn

# Data Source
pypdf
yfinance
langchain-text-splitters
googlesearch-python

# Data Storage
sqlalchemy
pgvector
pytz


# LLM
agno
openai
google-genai


langchain
langchain-community
langchain-core
langchain[google-genai] 
